<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar>Menu </mat-toolbar>
    <mat-nav-list>
      <a
        *ngFor="let item of menuItems"
        mat-list-item
        [routerLink]="[item.path]"
        routerLinkActive="item-selected"
        ><mat-icon class="menu-icon" color="danger">{{ item.icon }}</mat-icon
        >{{ item.title }}</a
      >
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span class="title">sangular</span>
      <app-theme-picker class="themepicker"></app-theme-picker>
      <span class="spacer"></span>

      <span>{{ fullName }}</span>
      <button
        routerLink="update-acount"
        mat-icon-button
        class="user-menu"
        aria-label="User avatar"
      >
        <img
          [src]="avatar"
          alt="User avatar"
          class="user-avatar"
          *ngIf="avatar"
        />
        <img
          src="/assets/images/ss-icon.jpg"
          alt="User avatar"
          class="user-avatar"
          *ngIf="!avatar"
        />
      </button>

      <button
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button with share icon"
      >
        <mat-icon color="danger" (click)="logout()">logout</mat-icon>
      </button>
    </mat-toolbar>
    <div class="loader">
      <app-loader class="progressbar"></app-loader>
    </div>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
