.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.spacer {
  flex: 1 1 auto;
}

.item-selected {
  background: rgba(233, 30, 99, 0.15);
  color: #f492b4;
}

.menu-icon {
  margin-right: 5px;
  padding-bottom: 6px;
}
