<div class="mat-elevation-z8 table-container">
  <button mat-raised-button color="accent" (click)="addNewUser()" class="add-button">
    Add user
  </button>
  <mat-form-field color="primary">
    <mat-label>Filter</mat-label>
    <input matInput placeholder="Filter by name or email" (keyup)="filterSubject.next($any($event.target).value)" />
  </mat-form-field>
  <div class="table-container">
    <table mat-table matSort matSortActive="id" matSortDirection="asc" matSortDisableClear aria-label="Elements"
      [dataSource]="dataSource">
      <!-- Id Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
        <td mat-cell *matCellDef="let row">{{ row.id }}</td>
      </ng-container>

      <!-- fullName Column -->
      <ng-container matColumnDef="fullName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
        <td mat-cell *matCellDef="let row">{{ row.fullName }}</td>
      </ng-container>

      <!-- email Column -->
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
        <td mat-cell *matCellDef="let row">{{ row.email }}</td>
      </ng-container>

      <!-- roles Column -->
      <ng-container matColumnDef="roles">
        <th mat-header-cell *matHeaderCellDef>Roles</th>
        <td mat-cell *matCellDef="let row">{{ row.roles }}</td>
      </ng-container>

      <!-- delete Column -->
      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef>Edit</th>
        <td mat-cell *matCellDef="let row">
          <button mat-icon-button color="accent" (click)="editUser(row.id)">
            <mat-icon>edit</mat-icon>
          </button>
        </td>
      </ng-container>

      <!-- delete Column -->
      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef>Delete</th>
        <td mat-cell *matCellDef="let row">
          <button mat-icon-button color="warn" aria-label="Example icon button with a heart icon"
            (click)="deleteUser(row.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns" (click)="onRowClicked(row)"></tr>
    </table>

    <mat-paginator #paginator [length]="totalElements" [pageIndex]="0" [pageSize]="10"
      [pageSizeOptions]="[5, 8, 10, 15]">
    </mat-paginator>
  </div>
</div>
