<footer class="docs-footer bgcol">
  <div class="docs-footer-list">
    <div class="docs-footer-logo">
      <div class="footer-logo">

        <span><a>Developed by: Sebastian Sangermano</a></span>
      </div>
    </div>

    <div class="docs-footer-version">

      <span class="version">Current Version:1.0</span>
    </div>

    <div class="docs-footer-copyright">
      <div>
        <a target="_blank" href="https://github.com/sebasanger">Github</a>
        <a target="_blank" href="https://www.linkedin.com/in/sebastian-gabriel-sangermano-595b50180/">Linkedin</a>
        <a href="#">Contact</a>

      </div>
    </div>
  </div>
</footer>
